
	
	<br>

	
	<table border="0" BORDERCOLOR=="#000">
		<tr>
			<th colspan="2">Customer Reply</th>
		</tr>
		</br>

		<tr>
		<td>Customer Email</td>
		<td><input type="text" name="cusemail1"></td>
		</tr>
		
		<tr>
		<td>Information</td>
		<td><textarea type="text" name="a" colspan="5"></textarea></td>
		</tr>

	</table>