<br>

	
	<table border="0">
		<tr>
			<th bgcolor="#E40E0E" width="850" colspan="5"><center>STAFF DETAILS : ROZAIMY BIN ABD MUTTALIF</th>
		</tr>
		<tr>
		<td rowspan="5">
		<img src="assets/royy.PNG" width="60" height="60">
		<td><strong>USER NAME</strong> </td>
		<td>ROY</td>
		</tr>
		<tr>
		<td><strong>POSITION</strong></td>
		<td>INTERIOR DESIGNER</td>
		</tr>
		<tr>
		<td><strong>EMAIL</strong></td>
		<td>roy@design.com</td>
		</tr>
		<tr>
		<td><strong>OFFICE NO</strong></td>
		<td>+603-36991910</td>
		</tr>
		<tr>
		<td><strong>STATUS</strong></td>
		<td>ACTIVE DESIGNER</td>
		</tr>
		</br>
		<tr>
		
		</tr>

	</table>