<br>

	
	<table border="0">
		<tr>
			<th bgcolor="#E40E0E" width="850" colspan="5"><center>STAFF DETAILS : MAHAZHIR BIN ZAINOL ABIDIN</th>
		</tr>
		<tr>
		<td rowspan="5">
		
		<img src="assets/maha.PNG" width="60" height="60">
		<td><strong>USER NAME</strong></td>
		<td>MAHA</td>
		</tr>
		<tr>
		<td><strong>POSITION</strong></td>
		<td>DESIGNER</td>
		</tr>
		<tr>
		<td><strong>EMAIL</strong></td>
		<td>maha@design.com</td>
		</tr>
		<tr>
		<td><strong>OFFICE NO</strong></td>
		<td>+603-36991675</td>
		</tr>
		<tr>
		<td><strong>STATUS</strong></td>
		<td>ACTIVE DESIGNER</td>
		</tr>
		</br>
		<tr>
		
		</tr>

	</table>