<br>
<!-- ni tuk like button -->
		<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=315241658582845";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	
	<table border="0" BORDERCOLOR=="#000">
		<tr>
			<th bgcolor="#E40E0E" width="850">*Only Admin & Assistant can login into the system.</th>
		</tr>
		<tr>
		<td>
		<fieldset>
		<legend>Please select your role : </legend>
		</br><center>
		<a href="/login"><b>ADMIN</b></a> <br> 
		</br><a href="/login_ass"><b>ASSISTANT</b> </a></center></br>
		
		</fieldset></td>
		</tr>

	</table>