<br>

	
	<table border="0" BORDERCOLOR=="#000">
		<tr>
			<th bgcolor="#E40E0E" width="850"><center>ONE MALAYSIAN DESIGN PROVIDES SERVICES AS BELOW. 
			<br> CLICK THE FOLLOWING ITEMS TO VIEW DETAILS.</center></th>
		</tr>
		</br>
		<tr>
		<td>
		<b>
		<ul>
		<li><a href="/listbanner">BANNER DESIGN</a></li>
		<li><a href="/listbunting">BUNTING DESIGN</a></li>
		<li><a href="/listposter">POSTER DESIGN</a></li>
		<li><a href="/listcard">BUSINESS CARD DESIGN</a></li>
		</B>
		</td>
		</tr>

	</table>