<h1>STEP 1</h1>

<%= @msg%>



<form method="POST">
<center>
	<table>
		
		<center><th>THANKS FOR YOUR WISH TO DEAL WITH OUR COMPANY.
		<br>Kindly please select your order item.</center></th>
		
		<tr><td><a href="/newbanner"><li>BANNER</li></a></td></tr>
		<tr><td><a href="/newbunting"><li>BUNTING</li></a></td></tr>
		<tr><td><a href="/newposter"><li>POSTER</li></a></td></tr>
		<tr><td><a href="/newcard"><li>BUSINESS CARD</li></a></td></tr>
	</table></center>

</form>
